<div class="sidebar">
  <div class="logo-details">
    <img src="/assets/img/logo.png" class="logo-img" alt="Panksys Finance">
    <span class="logo-name">Panksys Finance</span>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class='bx bx-grid-alt'></i>
        <span class="links-name">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/simple-finance" routerLinkActive="active">
        <i class='bx bx-line-chart'></i>
        <span class="links-name">Simple Finances</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-message'></i>
        <span class="links-name">Feedbacks</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links-name">Setting</span>
      </a>
    </li>
    <li class="logout">
      <a href="#">
        <i class='bx bx-log-out'></i>
        <span class="links-name">Logout</span>
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
