@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* SIDEBAR */

.sidebar .nav-links li a:hover {
  background: #144f4f;
}
/* SECTION */

.section {
  margin-top: 50px;
  margin-left: 300px;
  transition: all 0.5s ease;
}

.card {
  border-radius: 12px;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* RESPONSIVE */

@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .logo-name {
    display: none;
  }
}

@media (max-width: 1150px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section {
    margin-left: 100px;
  }

  .logo-name {
    display: none;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section {
    margin-left: 130px;
  }

  .logo-name {
    display: none;
  }
}

@media (max-width: 700px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section {
    margin-left: 180px;
  }

  .logo-name {
    display: none;
  }
}

@media (max-width: 550px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section {
    margin-left: 140px;
  }

  .logo-name {
    display: none;
  }
}

@media (max-width: 450px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section {
    margin-left: 90px;
  }

  .logo-name {
    display: none;
  }
}

@media (max-width: 390px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section {
    margin-left: 75px;
  }

  .logo-name {
    display: none;
  }
}

@media (max-width: 360px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section {
    margin-left: 65px;
  }

  .logo-name {
    display: none;
  }
}
