<div class="sidebar">
  <div class="logo-details">
    <img src="/assets/img/logo.png" class="logo-img" alt="Panksys Finance">
    <span class="logo-name">Panksys Finance</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#" class="active">
        <i class='bx bx-grid-alt'></i>
        <span class="links-name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-box'></i>
        <span class="links-name">Product</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-list-ul'></i>
        <span class="links-name">Order list</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="links-name">Analytics</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-coin-stack'></i>
        <span class="links-name">Stock</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-book-alt'></i>
        <span class="links-name">Total order</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user'></i>
        <span class="links-name">Team</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-message'></i>
        <span class="links-name">Messages</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-heart'></i>
        <span class="links-name">Favrorites</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links-name">Setting</span>
      </a>
    </li>
    <li class="logout">
      <a href="#">
        <i class='bx bx-log-out'></i>
        <span class="links-name">Logout</span>
      </a>
    </li>
  </ul>
</div>
