.section-graphic {
  margin-top: 50px;
  margin-left: 235px;
  transition: all 0.5s ease;
}

.card-graphic {
  border-radius: 12px;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.section-feedback {
  margin-top: 50px;
  margin-left: 250px;
  transition: all 0.5s ease;
}

.card-feedback {
  border-radius: 12px;
  border-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

canvas {
  margin: auto;
  width: 350px !important;
  height: 350px !important;
}

.row {
  margin-bottom: 50px;
}

.user-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.description-feedback {
  font-size: 14px;
}

/* RESPONSIVE */

@media (max-width: 1300px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 250px;
  }

  .section-feedback {
    margin-left: 250px;
  }

  .card-feedback {
    width: 300px;
  }
}

@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 130px;
  }

  .card-graphic {
    width: 400px;
  }

  .section-feedback {
    margin-left: 120px;
  }

  .card-feedback {
    width: 300px;
    margin-bottom: 30px;
  }

  canvas {
    margin: auto;
    width: 350px !important;
    height: 350px !important;
  }
}

@media (max-width: 1150px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 100px;
  }

  .section-feedback {
    margin-left: 100px;
  }

  .card-feedback {
    width: 250px;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 100px;
  }

  .card-graphic {
    margin-bottom: 50px;
  }
}

@media (max-width: 912px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 150px;
  }

  .card-graphic {
    width: 300px;
  }

  .section-feedback {
    margin-left: 150px;
  }

  .card-feedback {
    width: 300px;
  }

  canvas {
    margin: auto;
    width: 300px !important;
    height: 300px !important;
  }
}

@media (max-width: 820px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 100px;
  }

  .card-graphic {
    width: 320px;
  }

  canvas {
    margin: auto;
    width: 300px !important;
    height: 300px !important;
  }
}

@media (max-width: 700px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 120px;
  }
}

@media (max-width: 550px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 120px;
  }

  .card-graphic {
    width: 350px;
  }

  canvas {
    margin: auto;
    width: 320px !important;
    height: 320px !important;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 100px;
  }

  .card-graphic {
    width: 350px;
  }

  .section-feedback {
    margin-left: 100px;
  }

  .card-feedback {
    width: 350px;
  }

  canvas {
    margin: auto;
    width: 320px !important;
    height: 320px !important;
  }
}

@media (max-width: 450px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 100px;
  }

  .card-graphic {
    width: 200px;
  }

  canvas {
    margin: auto;
    width: 200px !important;
    height: 200px !important;
  }
}

@media (max-width: 430px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 95px;
  }

  .card-graphic {
    width: 300px;
  }

  .section-feedback {
    margin-left: 95px;
  }

  .card-feedback {
    width: 300px;
  }

  canvas {
    margin: auto;
    width: 200px !important;
    height: 200px !important;
  }
}

@media (max-width: 414px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 85px;
  }

  .card-graphic {
    width: 300px;
  }

  .section-feedback {
    margin-left: 85px;
  }

  .card-feedback {
    width: 300px;
  }

  canvas {
    margin: auto;
    width: 200px !important;
    height: 200px !important;
  }
}

@media (max-width: 390px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 75px;
  }

  .section-feedback {
    margin-left: 75px;
  }
}

@media (max-width: 375px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 90px;
  }

  .card-graphic {
    width: 250px;
  }

  .section-feedback {
    margin-left: 90px;
  }

  .card-feedback {
    width: 250px;
  }

  canvas {
    margin: auto;
    width: 250px !important;
    height: 250px !important;
  }
}

@media (max-width: 320px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 70px;
  }

  .card-graphic {
    width: 250px;
  }

  .section-feedback {
    margin-left: 80px;
  }

  .card-feedback {
    width: 250px;
  }

  canvas {
    margin: auto;
    width: 250px !important;
    height: 250px !important;
  }
}

@media (max-width: 280px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .section-graphic {
    margin-left: 70px;
  }

  .card-graphic {
    width: 200px;
  }

  .section-feedback {
    margin-left: 70px;
  }

  .card-feedback {
    width: 200px;
  }

  canvas {
    margin: auto;
    width: 200px !important;
    height: 200px !important;
  }
}
