<app-menu></app-menu>
<section class="section-graphic">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card card-graphic">
          <div class="card-body">
            <br>
            <h5 class="card-title">Total Finances</h5>
            <canvas #total_finances></canvas>
            <br>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-graphic">
          <div class="card-body">
            <br>
            <h5 class="card-title">Monthly Finances</h5>
            <canvas #monthly_finances></canvas>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-feedback">
  <h4>Latest Feedbacks</h4>
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card card-feedback">
          <div class="card-body">
            <br>
            <img src="https://source.unsplash.com/80x80/?face" class="user-img">
            <h6 class="card-title">Title feedback</h6>
            <br>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <br><br>
            <p class="description-feedback">Some quick example text to build on the card title and make up the bulk of
              the card's content.</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-feedback">
          <div class="card-body">
            <br>
            <img src="https://source.unsplash.com/80x80/?face" class="user-img">
            <h6 class="card-title">Title feedback</h6>
            <br>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <br><br>
            <p class="description-feedback">Some quick example text to build on the card title and make up the bulk of
              the card's content.</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-feedback">
          <div class="card-body">
            <br>
            <img src="https://source.unsplash.com/80x80/?face" class="user-img">
            <h6 class="card-title">Title feedback</h6>
            <br>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
            <br><br>
            <p class="description-feedback">Some quick example text to build on the card title and make up the bulk of
              the card's content.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
