<section class="section-table-simple-finance">
  <h4>Simple Finances</h4>
  <br>
  <div class="button">
    <a routerLink="/dashboard">+ New finance</a>
  </div>
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card card-table-simple-finance">
          <div class="card-body">
            <table class="table table-responsive table-hover">
              <thead>
                <tr>
                  <th scope="col">Finance</th>
                  <th scope="col">Description</th>
                  <th scope="col">Mounth</th>
                  <th scope="col">Total</th>
                  <th scope="col">Form of payment</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>MacBook Air</td>
                  <td>MacBook Air M1 8GB Ram</td>
                  <td>January</td>
                  <td>R$ 7.500</td>
                  <td>Credit</td>
                  <td><i class='bx bx-check-circle icon-check-paid'></i></td>
                </tr>
                <tr>
                  <td>MacBook Air</td>
                  <td>MacBook Air M1 8GB Ram</td>
                  <td>January</td>
                  <td>R$ 7.500</td>
                  <td>Credit</td>
                  <td><i class='bx bx-check-circle icon-check-paid'></i></td>
                </tr>
                <tr>
                  <td>MacBook Air</td>
                  <td>MacBook Air M1 8GB Ram</td>
                  <td>January</td>
                  <td>R$ 7.500</td>
                  <td>Credit</td>
                  <td><i class='bx bx-check-circle icon-check-not-paid'></i></td>
                </tr>
                <tr>
                  <td>MacBook Air</td>
                  <td>MacBook Air M1 8GB Ram</td>
                  <td>January</td>
                  <td>R$ 7.500</td>
                  <td>Credit</td>
                  <td><i class='bx bx-check-circle icon-check-paid'></i></td>
                </tr>
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
