.section-content {
  margin-top: 50px;
  text-align: center;
}

.button {
  text-align: center;
}

.button a {
  color: #fff;
  background: #008080;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.button a:hover {
  background: #144f4f;
}
