<section class="section-signin">
  <div class="left-content">
    <img src="/assets/img/logo-signin.png" width="400px" height="400px">
  </div>
  <div class="right-content">
    <form>
      <i class='bx bx-user icon-user'></i>
      <div class="row">
        <div class="col-md-12">
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="E-mail">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="options-signin">
        <p><a>Sign Up</a></p>
      </div>
    </form>
  </div>
</section>
